{% import 'macro_functions.html.twig' as mf %}
{% extends 'layout_default.html.twig' %}
{% block meta_title %}{{ 'Pterodactyl servers' | trans }}{% endblock %}
    {% set active_menu = 'system' %}

    {% block content %}
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" href="#tab-index" data-bs-toggle="tab">{{ 'Pterodactyl servers' | trans }}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#tab-new-server" data-bs-toggle="tab">
                    <svg class="icon me-2">
                        <use xlink:href="#plus" />
                    </svg>
                    {{ 'New server' | trans }}
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#tab-panel" data-bs-toggle="tab">{{ 'Pterodactyl panels' | trans }}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#tab-new-panel" data-bs-toggle="tab">
                    <svg class="icon me-2">
                        <use xlink:href="#plus" />
                    </svg>
                    {{ 'New panel' | trans }}
                </a>
            </li>

        </ul>

        <div class="card">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-index" role="tabpanel">
                    <div class="card-body">
                        <h5>{{ 'Servers list' | trans }}</h5>
                    </div>

                    <table class="table card-table table-vcenter table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th>{{ 'ID' | trans }}</th>
                                <th>{{ 'Name' | trans }}</th>
                                <th>{{ 'Hostname' | trans }}</th>
                                <th>{{ 'IPv4' | trans }}</th>
                                <th>{{ 'Location' | trans }}</th>
                                <th>{{ 'Active' | trans }}</th>
                                <th class="w-1"></th>
                            </tr>
                        </thead>
                        {% set servers = admin.servicepterodactyl_server_list() %}
                        {% for server in servers %}

                            <tbody>
                                <tr>
                                    <td>{{ server.id }}</td>
                                    <td>{{ server.name }}</td>
                                    <td><a href="https://{{server.access}}:8006" target="_blank">{{server.hostname}}</a></td>
                                    <td>{{ server.ipv4 }}</td>
                                    <td>{{ server.location }}</td>
                                    <td>{{ mf.q(server.active) }}</td>
                                    <td>
                                        <a class="btn btn-icon" href="https://{{server.access}}:8006" target="_blank">
                                            <svg class="icon">
                                                <use xlink:href="#settings" />
                                            </svg>
                                        </a>
                                        <a class="btn btn-icon api-link" href="{{ 'api/admin/servicepterodactyl/server_test_connection'|link({ 'id': server.id, 'CSRFToken': CSRFToken }) }}" title="{{ 'Test connection' | trans }}" data-api-msg="{{ 'Server connected' | trans }}">
                                            <svg class="icon">
                                                <use xlink:href="#wifi" />
                                            </svg>
                                        </a>
                                        <a class="btn btn-icon" href="{{ '/servicepterodactyl/server'|alink }}/{{ server.id }}">
                                            <svg class="icon">
                                                <use xlink:href="#edit" />
                                            </svg>
                                        </a>
                                        <a class="btn btn-icon api-link" data-api-confirm="{{ 'Are you sure?' | trans }}" data-api-redirect="{{ 'servicepterodactyl'|alink }}" href="{{ 'api/admin/servicepterodactyl/server_delete'|link({ 'id': server.id, 'CSRFToken': CSRFToken }) }}">
                                            <svg class="icon">
                                                <use xlink:href="#delete" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                        {% else %}
                            <tr>
                                <td class="text-muted" colspan="7">{{ 'The list is empty' | trans }}</td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>

                <div class="tab-pane fade" id="tab-new-server" role="tabpanel">
                    <div class="card-body">
                        <form method="post" action="admin/servicepterodactyl/server_create" class="api-form" data-api-redirect="{{ 'servicepterodactyl'|alink }}">
                            <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
                            <div class="mb-3 row">
                                <label class="form-label col-3 col-form-label">{{ 'Name' | trans }}:</label>
                                <div class="col">
                                    <input class="form-control" type="text" name="name" value="" required placeholder="{{ 'Unique name to identify this server (you can use Pterodactyl node name)' | trans }}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="form-label col-3 col-form-label">{{ 'Panel' | trans }}:</label>
                                <div class="col">
                                    <select class="form-select" name="panel" required>
                                        {% set panels = admin.servicepterodactyl_panel_list() %}
                                        {% for panel in panels %}
                                            <option value="{{ panel.id }}">{{ panel.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="form-label col-3 col-form-label">{{ 'Location' | trans }}:</label>
                                <div class="col">
                                    <input class="form-control" type="text" name="location" value="" placeholder="{{ 'Pterodactyl node location' | trans }}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="form-label col-3 col-form-label">{{ 'Hostname' | trans }}:</label>
                                <div class="col">
                                    <input class="form-control" type="text" name="hostname" value="" required placeholder="{{ 'server1.yourserverdomain.com' | trans }}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="form-label col-3 col-form-label">{{ 'IPv4 address' | trans }}:</label>
                                <div class="col">
                                    <input class="form-control" type="text" name="ipv4" value="" required placeholder="{{ 'Primary IPv4 address of the server' | trans }}">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="form-label col-3 col-form-label">{{ 'Extra configuration' | trans }}:</label>
                                <div class="col">
                                    <input class="form-control" type="text" name="config" value="">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="form-label col-3 col-form-label">{{ 'Enable/Disable' | trans }}:</label>
                                <div class="col">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" id="radioActiveYes" type="radio" name="active" value="1" checked>
                                        <label class="form-check-label" for="radioActiveYes">{{ 'Yes' | trans }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" id="radioActiveNo" type="radio" name="active" value="0">
                                        <label class="form-check-label" for="radioActiveNo">{{ 'No' | trans }}</label>
                                    </div>
                                </div>
                            </div>

                            <input type="submit" value="{{ 'Add server' | trans }}" class="btn btn-primary">
                        </form>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab-panel" role="tabpanel">
                    <div class="card-body">
                        <h5>{{ 'Panels list' | trans }}</h5>
                    </div>

                    <table class="table card-table table-vcenter table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th>{{ 'ID' | trans }}</th>
                                <th>{{ 'Name' | trans }}</th>
                                <th>{{ 'URL' | trans }}</th>
                                <th>{{ 'Active' | trans }}</th>
                                <th class="w-1"></th>
                            </tr>
                        </thead>
                        {% set panels = admin.servicepterodactyl_panel_list() %}
                        {% for panel in panels %}

                            <tbody>
                                <tr>
                                    <td>{{ panel.id }}</td>
                                    <td>{{ panel.name }}</td>
                                    <td><a href="https://{{panel.url}}" target="_blank">{{panel.url}}</a></td>
                                    <td>{{ mf.q(panel.active) }}</td>
                                    <td>
                                        <a class="btn btn-icon api-link" href="{{ 'api/admin/servicepterodactyl/panel_test_connection'|link({ 'id': panel.id, 'CSRFToken': CSRFToken }) }}" title="{{ 'Test connection' | trans }}" data-api-msg="{{ 'Panel connected' | trans }}">
                                            <svg class="icon">
                                                <use xlink:href="#wifi" />
                                            </svg>
                                        </a>
                                        <a class="btn btn-icon" href="{{ '/servicepterodactyl/panel'|alink }}/{{ panel.id }}">
                                            <svg class="icon">
                                                <use xlink:href="#edit" />
                                            </svg>
                                        </a>
                                        <a class="btn btn-icon api-link" data-api-confirm="{{ 'Are you sure?' | trans }}" data-api-redirect="{{ 'servicepterodactyl'|alink }}" href="{{ 'api/admin/servicepterodactyl/panel_delete'|link({ 'id': panel.id, 'CSRFToken': CSRFToken }) }}">
                                            <svg class="icon">
                                                <use xlink:href="#delete" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                        {% else %}
                            <tr>
                                <td class="text-muted" colspan="7">{{ 'The list is empty' | trans }}</td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>

                <div class="tab-pane fade" id="tab-new-panel" role="tabpanel">
                    <div class="card-body">
                        <form method="post" action="admin/servicepterodactyl/panel_create" class="api-form" data-api-redirect="{{ 'servicepterodactyl'|alink }}">
                            <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
                            <div class="mb-3 row">
                                <label class="form-label col-3 col-form-label">{{ 'Name' | trans }}:</label>
                                <div class="col">
                                    <input class="form-control" type="text" name="name" value="" required placeholder="{{ 'Panel name' | trans }}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="form-label col-3 col-form-label">{{ 'URL' | trans }}:</label>
                                <div class="col">
                                    <input class="form-control" type="text" name="url" value="" required placeholder="{{ 'Panel URL (e.g. panel.domain.tld)' | trans }}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="form-label col-3 col-form-label">{{ 'Application API Key' | trans }}:</label>
                                <div class="col">
                                    <input class="form-control" type="password" name="api_key" value="" required placeholder="{{ 'Panel Application API Key' | trans }}">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="form-label col-3 col-form-label">{{ 'Extra configuration' | trans }}:</label>
                                <div class="col">
                                    <input class="form-control" type="text" name="config" value="">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="form-label col-3 col-form-label">{{ 'Enable/Disable' | trans }}:</label>
                                <div class="col">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" id="radioActiveYes" type="radio" name="active" value="1" checked>
                                        <label class="form-check-label" for="radioActiveYes">{{ 'Yes' | trans }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" id="radioActiveNo" type="radio" name="active" value="0">
                                        <label class="form-check-label" for="radioActiveNo">{{ 'No' | trans }}</label>
                                    </div>
                                </div>
                            </div>

                            <input type="submit" value="{{ 'Add panel' | trans }}" class="btn btn-primary">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    {% endblock %}
